<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_AD_ID"
        tools:node="remove" />
    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SSHPeachesApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.SSHPeaches">
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="false" />
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            tools:node="remove" />
        <uses-library
            android:name="android.ext.adservices"
            tools:node="remove" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SSHPeaches.Starting"
            android:windowSoftInputMode="adjustResize" />
        <activity-alias
            android:name=".DefaultLauncherAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".PeachLightLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_peach_light"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_peach_light"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".PeachDarkLauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_peach_dark"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_peach_dark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ui.qr.PortraitCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:ignore="LockedOrientationActivity,DiscouragedApi"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".ui.testing.ReleaseTestHostActivity"
            android:exported="false" />
        <service
            android:name=".service.SessionService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <receiver
            android:name=".widget.QuickConnectWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_CONNECT" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_OPEN" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_DISCONNECT" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quick_connect_info" />
        </receiver>
        <receiver
            android:name=".widget.SessionsWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_CONNECT" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_OPEN" />
                <action android:name="com.majordaftapps.sshpeaches.app.widget.ACTION_DISCONNECT" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sessions_info" />
        </receiver>
    </application>
</manifest>
